<div ng-controller="MCFly.FormDesigner.Emails.Controller">


    <div class="sub-view-columns">
        <div class="sub-view-column-left">
            <h5>Emails</h5>
            <small>Get an email notification when the form is submitted, send a confirmation email, ...</small>
        </div>
        <div class="sub-view-column-right">
          
                <div ng-repeat="email in model.emails" style="padding-bottom:10px;">

                   
                    <a ng-click="editEmailWithDialog(email)">Send email with subject <strong>'{{email.subject}}'</strong> to: <strong>{{email.to}}{{email.toProperty}}<span ng-if="email.toProperty"> field</span></strong></a>
                    <i class="icon icon-settings" ng-click="editEmailWithDialog(email)"></i>
                    <i class="icon-trash" ng-click="removeEmail(email)"></i>
                   
                    <!--{{email |json}}-->
                </div>
           

            <span class="btn" ng-click="addEmailWithDialog()"><i class="icon-inbox"></i> Add new email</span>
        </div>


    </div>
          


</div>