.form-editor {
  width: 100%;
}
.form-editor ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-editor ul.form-rows {
  min-height: 30px;
}
.form-editor ul.form-rows li.form-row {
  margin-bottom: 5px;
}
.form-editor ul.form-validations {
  margin-top: 5px;
}
.form-editor ul.form-validations li.form-validation {
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 5px;
}
.form-editor ul.form-validations li.form-validation table {
  margin-bottom: 6px;
}
.form-editor ul.form-validations li.form-validation table th,
.form-editor ul.form-validations li.form-validation table td {
  cursor: default;
  padding: 6px 0px;
}
.form-editor ul.form-validations li.form-validation table th {
  font-weight: normal;
  text-transform: none;
  padding-left: 2px;
}
.form-editor ul.form-validations li.form-validation table:hover tr td {
  border-color: #bbbbbb;
}
.form-editor ul.form-validations li.form-validation td.form-validation-rules {
  border: 1px dashed #dddddd;
  padding: 5px 5px 10px 5px;
}
.form-editor ul.form-validations li.form-validation td.form-validation-rules h5:first-of-type {
  margin-top: 5px;
}
.form-editor ul.form-validations li.form-validation td.form-validation-rules tr.form-validation-rule {
  vertical-align: top;
  border-top: 1px solid #f8f8f8;
}
.form-editor ul.form-validations li.form-validation td.form-validation-rules tr.form-validation-rule td.form-validation-rule-field {
  width: 200px;
  cursor: pointer;
}
.form-editor ul.form-validations li.form-validation td.form-validation-rules tr.form-validation-rule td.form-validation-rule-condition {
  width: 280px;
}
.form-editor ul.form-validations li.form-validation td.form-validation-rules tr.form-validation-rule td.form-validation-rule-tools {
  width: 16px;
}
.form-editor ul.form-validations li.form-validation td.form-validation-rules tr.form-validation-rule td:last-child {
  width: 16px;
}
.form-editor ul.form-validations li.form-validation div.form-action-task span {
  padding-top: 5px;
  display: inline-block;
}
.form-editor table {
  width: 100%;
}
.form-editor table.form-cells {
  table-layout: fixed;
}
.form-editor table.form-cells:hover tr td {
  border-color: #bbbbbb;
}
.form-editor table td.form-cell {
  box-sizing: border-box;
  border: 1px dashed #dddddd;
  border-bottom: none;
  vertical-align: top;
  padding: 5px 5px 2px 5px;
}
.form-editor table td.form-cell-delete {
  border: 0;
  width: 2%;
}
.form-editor table td.form-cell-tools {
  margin-bottom: 2px;
  border: 1px dashed #dddddd;
  border-top: none;
  text-align: center;
}
.form-editor table td div.form-fields {
  min-height: 26px;
}
.form-editor table td div.form-field {
  display: block;
  white-space: nowrap;
}
.form-editor table td div.form-field span.form-field-content {
  display: inline;
  cursor: pointer;
}
.form-editor table td div.form-field span.form-field-content:hover span.form-field-name {
  text-decoration: underline;
}
.form-editor table td div.form-field span.form-field-content.form-field-invalid span.form-field-name {
  /* take the width of the error icon into account */
  color: #b94a48;
  font-weight: bold;
}
.form-editor table td div.form-field i {
  display: inline-block;
  vertical-align: top;
}
.form-editor table td div.form-field span.form-field-name {
  display: inline-block;
  max-width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.form-editor table td div.form-field.form-field-cloneable span.form-field-content span.form-field-name {
  max-width: 55%;
}
.form-editor label.checkbox {
  padding: 0;
}
.form-editor .form-row-tools,
.form-editor .form-page-tools,
.form-editor .validation-tools,
.form-editor .action-tools {
  text-align: center;
}
.form-editor .form-row-tools,
.form-editor .form-page-tools,
.form-editor .validation-tools {
  margin-right: 2%;
}
.form-editor .umb-editor {
  min-width: 80%;
}
.form-editor .form-pages {
  display: table;
  width: 100%;
  margin-bottom: 5px;
}
.form-editor .form-pages.pages-disabled {
  margin-bottom: 0;
}
.form-editor .form-pages.pages-disabled .form-page {
  padding: 0;
  margin: 0;
  border: 0;
}
.form-editor .form-pages .form-page {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #dddddd;
}
.form-editor .form-pages .form-page:hover {
  border-color: #bbbbbb;
}
.form-editor .form-pages .form-page h5 {
  margin: 5px 0;
}
.form-editor .form-pages .form-page .form-page-content {
  padding: 0 2px;
}
.form-editor .no-form-pages,
.form-editor .no-form-rows,
.form-editor .no-validations {
  padding: 10px;
}
.form-editor .no-form-pages i,
.form-editor .no-form-rows i,
.form-editor .no-validations i {
  display: block;
}
.form-editor .no-form-pages i:hover small,
.form-editor .no-form-rows i:hover small,
.form-editor .no-validations i:hover small {
  color: #343434;
}
.form-editor .no-form-rows {
  padding-top: 0;
}
.form-editor .tab-pane {
  display: none;
}
.form-editor .tab-pane.active {
  display: block;
}
.form-editor .tab-pane p {
  max-width: 85%;
}
.form-editor ul.tabs {
  margin-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}
.form-editor ul.tabs li {
  margin-bottom: -1px;
  display: inline-block;
}
.form-editor ul.tabs li a,
.form-editor ul.tabs li a.active,
.form-editor ul.tabs li a:hover,
.form-editor ul.tabs li a:focus {
  text-decoration: none;
  padding: 5px;
  border: 0;
  background: none;
  color: #343434;
}
.form-editor ul.tabs li a i,
.form-editor ul.tabs li a.active i,
.form-editor ul.tabs li a:hover i,
.form-editor ul.tabs li a:focus i {
  vertical-align: bottom;
}
.form-editor ul.tabs li:hover {
  transition: 0.4s ease-in;
  border-bottom: 2px solid #bbbbbb;
}
.form-editor ul.tabs li.active {
  transition: none;
  font-weight: bold;
  border-bottom: 2px solid black;
}
.form-editor-edit-field div.fieldValues div.fieldValue.selectable input[type=text] {
  width: 60%;
}
.form-editor-edit-field div.fieldValues div.fieldValue span.fieldValueTools {
  vertical-align: top;
  display: inline-block;
  margin: 4px 0 0 4px;
}
.form-editor-edit-field div.fieldValues div.fieldValue span.fieldValueTools input[type=checkbox] {
  vertical-align: middle;
  margin-top: -1px;
}
.form-editor-edit-field div.fieldValues div.fieldValue span.fieldValueTools label {
  display: inline-block;
}
.form-editor-edit-field label input[type=checkbox] {
  vertical-align: middle;
  margin-top: -1px;
}
.form-editor-edit-field input.invalid {
  border: 1px solid #b94a48 !important;
}
.form-editor-edit-field div.imageField {
  margin-bottom: 10px;
}
.form-editor-edit-field div.imageField .umb-mediapicker .add-link,
.form-editor-edit-field div.imageField .thumbnail {
  width: 330px;
}
.form-editor-edit-field div.imageField * {
  vertical-align: middle;
  display: inline-block;
}
.form-editor-edit-field div.infoBox {
  margin-bottom: 10px;
}
.form-editor-edit-field div.infoBox i {
  display: inline-block;
  vertical-align: top;
}
.form-editor-edit-field div.infoBox div.infoText {
  display: inline-block;
  width: 90%;
}
.form-editor-edit-field input:not([type="checkbox"]),
.form-editor-picker input:not([type="checkbox"]),
.form-editor-edit-field textarea,
.form-editor-picker textarea,
.form-editor-edit-field select,
.form-editor-picker select {
  width: 90%;
}
.form-editor-edit-field label small,
.form-editor-picker label small {
  text-transform: none;
}
.form-editor h5,
.form-editor-edit-field h5,
.form-editor-picker h5,
.form-editor-config h5,
.form-editor-data h5,
.form-editor-data-entry h5 {
  color: #343434;
  font-size: inherit;
  text-transform: none;
}
.form-editor h4.expandable,
.form-editor-edit-field h4.expandable,
.form-editor-picker h4.expandable,
.form-editor-config h4.expandable,
.form-editor-data h4.expandable,
.form-editor-data-entry h4.expandable,
.form-editor h5.expandable,
.form-editor-edit-field h5.expandable,
.form-editor-picker h5.expandable,
.form-editor-config h5.expandable,
.form-editor-data h5.expandable,
.form-editor-data-entry h5.expandable {
  cursor: pointer;
}
.form-editor h4.expandable i,
.form-editor-edit-field h4.expandable i,
.form-editor-picker h4.expandable i,
.form-editor-config h4.expandable i,
.form-editor-data h4.expandable i,
.form-editor-data-entry h4.expandable i,
.form-editor h5.expandable i,
.form-editor-edit-field h5.expandable i,
.form-editor-picker h5.expandable i,
.form-editor-config h5.expandable i,
.form-editor-data h5.expandable i,
.form-editor-data-entry h5.expandable i {
  vertical-align: bottom;
}
.form-editor h4.expandable i.icon-delete,
.form-editor-edit-field h4.expandable i.icon-delete,
.form-editor-picker h4.expandable i.icon-delete,
.form-editor-config h4.expandable i.icon-delete,
.form-editor-data h4.expandable i.icon-delete,
.form-editor-data-entry h4.expandable i.icon-delete,
.form-editor h5.expandable i.icon-delete,
.form-editor-edit-field h5.expandable i.icon-delete,
.form-editor-picker h5.expandable i.icon-delete,
.form-editor-config h5.expandable i.icon-delete,
.form-editor-data h5.expandable i.icon-delete,
.form-editor-data-entry h5.expandable i.icon-delete {
  float: right;
}
.form-editor h4.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-edit-field h4.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-picker h4.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-config h4.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-data h4.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-data-entry h4.expandable:hover i.icon-navigation-right.dimmed,
.form-editor h5.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-edit-field h5.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-picker h5.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-config h5.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-data h5.expandable:hover i.icon-navigation-right.dimmed,
.form-editor-data-entry h5.expandable:hover i.icon-navigation-right.dimmed,
.form-editor h4.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-edit-field h4.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-picker h4.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-config h4.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-data h4.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-data-entry h4.expandable:hover i.icon-navigation-down.dimmed,
.form-editor h5.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-edit-field h5.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-picker h5.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-config h5.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-data h5.expandable:hover i.icon-navigation-down.dimmed,
.form-editor-data-entry h5.expandable:hover i.icon-navigation-down.dimmed {
  color: #343434;
}
.form-editor ul.page-selector i,
.form-editor-edit-field ul.page-selector i,
.form-editor-picker ul.page-selector i,
.form-editor-config ul.page-selector i,
.form-editor-data ul.page-selector i,
.form-editor-data-entry ul.page-selector i {
  vertical-align: middle;
}
.form-editor ul.page-selector i.icon-delete,
.form-editor-edit-field ul.page-selector i.icon-delete,
.form-editor-picker ul.page-selector i.icon-delete,
.form-editor-config ul.page-selector i.icon-delete,
.form-editor-data ul.page-selector i.icon-delete,
.form-editor-data-entry ul.page-selector i.icon-delete {
  margin-left: 4px !important;
}
.form-editor .dimmed,
.form-editor-edit-field .dimmed,
.form-editor-picker .dimmed,
.form-editor-config .dimmed,
.form-editor-data .dimmed,
.form-editor-data-entry .dimmed {
  color: #d9d9d9;
}
.form-editor .dimmed.dimmed-hover:hover,
.form-editor-edit-field .dimmed.dimmed-hover:hover,
.form-editor-picker .dimmed.dimmed-hover:hover,
.form-editor-config .dimmed.dimmed-hover:hover,
.form-editor-data .dimmed.dimmed-hover:hover,
.form-editor-data-entry .dimmed.dimmed-hover:hover {
  color: #343434;
  cursor: pointer;
}
.form-editor i.dimmed:hover,
.form-editor-edit-field i.dimmed:hover,
.form-editor-picker i.dimmed:hover,
.form-editor-config i.dimmed:hover,
.form-editor-data i.dimmed:hover,
.form-editor-data-entry i.dimmed:hover {
  color: #343434;
}
.form-editor i.icon-delete.dimmed:hover,
.form-editor-edit-field i.icon-delete.dimmed:hover,
.form-editor-picker i.icon-delete.dimmed:hover,
.form-editor-config i.icon-delete.dimmed:hover,
.form-editor-data i.icon-delete.dimmed:hover,
.form-editor-data-entry i.icon-delete.dimmed:hover {
  color: #b94a48;
}
.form-editor i.icon-delete,
.form-editor-edit-field i.icon-delete,
.form-editor-picker i.icon-delete,
.form-editor-config i.icon-delete,
.form-editor-data i.icon-delete,
.form-editor-data-entry i.icon-delete,
.form-editor i.icon-add,
.form-editor-edit-field i.icon-add,
.form-editor-picker i.icon-add,
.form-editor-config i.icon-add,
.form-editor-data i.icon-add,
.form-editor-data-entry i.icon-add,
.form-editor i.icon-edit,
.form-editor-edit-field i.icon-edit,
.form-editor-picker i.icon-edit,
.form-editor-config i.icon-edit,
.form-editor-data i.icon-edit,
.form-editor-data-entry i.icon-edit,
.form-editor i.icon-navigation-right,
.form-editor-edit-field i.icon-navigation-right,
.form-editor-picker i.icon-navigation-right,
.form-editor-config i.icon-navigation-right,
.form-editor-data i.icon-navigation-right,
.form-editor-data-entry i.icon-navigation-right,
.form-editor i.icon-navigation-down,
.form-editor-edit-field i.icon-navigation-down,
.form-editor-picker i.icon-navigation-down,
.form-editor-config i.icon-navigation-down,
.form-editor-data i.icon-navigation-down,
.form-editor-data-entry i.icon-navigation-down {
  cursor: pointer;
}
.form-editor i.field-icon,
.form-editor-edit-field i.field-icon,
.form-editor-picker i.field-icon,
.form-editor-config i.field-icon,
.form-editor-data i.field-icon,
.form-editor-data-entry i.field-icon {
  background-repeat: no-repeat;
  background-position: center 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}
.form-editor i.field-icon.field-mandatory:after,
.form-editor-edit-field i.field-icon.field-mandatory:after,
.form-editor-picker i.field-icon.field-mandatory:after,
.form-editor-config i.field-icon.field-mandatory:after,
.form-editor-data i.field-icon.field-mandatory:after,
.form-editor-data-entry i.field-icon.field-mandatory:after {
  content: '*';
  color: #b94a48;
  position: relative;
  left: 13px;
  top: -3px;
  font-size: 1.3em;
  font-style: normal;
}
.form-editor i span.menu-label,
.form-editor-edit-field i span.menu-label,
.form-editor-picker i span.menu-label,
.form-editor-config i span.menu-label,
.form-editor-data i span.menu-label,
.form-editor-data-entry i span.menu-label {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
}
.form-editor i small,
.form-editor-edit-field i small,
.form-editor-picker i small,
.form-editor-config i small,
.form-editor-data i small,
.form-editor-data-entry i small {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
}
.form-editor .umb-actions .menu-label,
.form-editor-edit-field .umb-actions .menu-label,
.form-editor-picker .umb-actions .menu-label,
.form-editor-config .umb-actions .menu-label,
.form-editor-data .umb-actions .menu-label,
.form-editor-data-entry .umb-actions .menu-label {
  padding-left: 5px;
}
.form-editor .ui-sortable-placeholder,
.form-editor-edit-field .ui-sortable-placeholder,
.form-editor-picker .ui-sortable-placeholder,
.form-editor-config .ui-sortable-placeholder,
.form-editor-data .ui-sortable-placeholder,
.form-editor-data-entry .ui-sortable-placeholder {
  visibility: visible !important;
  background-color: #d0e7f1 !important;
}
.form-editor .umb-control-group label small,
.form-editor-edit-field .umb-control-group label small,
.form-editor-picker .umb-control-group label small,
.form-editor-config .umb-control-group label small,
.form-editor-data .umb-control-group label small,
.form-editor-data-entry .umb-control-group label small {
  padding-top: 0;
}
.form-editor small,
.form-editor-edit-field small,
.form-editor-picker small,
.form-editor-config small,
.form-editor-data small,
.form-editor-data-entry small {
  text-transform: uppercase;
  font-size: 12px;
}
.form-editor small.help-text,
.form-editor-edit-field small.help-text,
.form-editor-picker small.help-text,
.form-editor-config small.help-text,
.form-editor-data small.help-text,
.form-editor-data-entry small.help-text {
  text-transform: none;
  padding: 0px 0 4px 0;
  line-height: 14px;
  color: #b3b3b3;
  display: block;
  max-width: 80%;
}
.form-editor small.help-text.full-width,
.form-editor-edit-field small.help-text.full-width,
.form-editor-picker small.help-text.full-width,
.form-editor-config small.help-text.full-width,
.form-editor-data small.help-text.full-width,
.form-editor-data-entry small.help-text.full-width {
  max-width: 100%;
}
.form-editor-data .no-data,
.form-editor-data-entry .no-data {
  text-align: center;
}
.form-editor-data .no-data i,
.form-editor-data-entry .no-data i {
  width: auto !important;
}
.form-editor-data .no-data i.dimmed:hover,
.form-editor-data-entry .no-data i.dimmed:hover,
.form-editor-data .no-data i.dimmed *:hover,
.form-editor-data-entry .no-data i.dimmed *:hover {
  cursor: default;
  color: #d9d9d9;
}
.form-editor-data .dimmed,
.form-editor-data-entry .dimmed {
  color: #d9d9d9;
}
.form-editor-data .form-data-visible-fields ul,
.form-editor-data-entry .form-data-visible-fields ul {
  list-style: none;
  margin: 0px 0px 10px 0px;
}
.form-editor-data div.form-data,
.form-editor-data-entry div.form-data {
  overflow-x: auto;
}
.form-editor-data div.form-data table,
.form-editor-data-entry div.form-data table,
.form-editor-data div.form-data table.table-striped,
.form-editor-data-entry div.form-data table.table-striped {
  margin: 0px;
}
.form-editor-data div.form-data table thead tr,
.form-editor-data-entry div.form-data table thead tr,
.form-editor-data div.form-data table.table-striped thead tr,
.form-editor-data-entry div.form-data table.table-striped thead tr {
  white-space: nowrap;
}
.form-editor-data div.form-data table thead tr td.select,
.form-editor-data-entry div.form-data table thead tr td.select,
.form-editor-data div.form-data table.table-striped thead tr td.select,
.form-editor-data-entry div.form-data table.table-striped thead tr td.select,
.form-editor-data div.form-data table thead tr td.toggle-approval,
.form-editor-data-entry div.form-data table thead tr td.toggle-approval,
.form-editor-data div.form-data table.table-striped thead tr td.toggle-approval,
.form-editor-data-entry div.form-data table.table-striped thead tr td.toggle-approval {
  width: 25px;
}
.form-editor-data div.form-data table tbody tr td,
.form-editor-data-entry div.form-data table tbody tr td,
.form-editor-data div.form-data table.table-striped tbody tr td,
.form-editor-data-entry div.form-data table.table-striped tbody tr td {
  cursor: default;
}
.form-editor-data div.form-data table tbody tr td.date,
.form-editor-data-entry div.form-data table tbody tr td.date,
.form-editor-data div.form-data table.table-striped tbody tr td.date,
.form-editor-data-entry div.form-data table.table-striped tbody tr td.date {
  white-space: nowrap;
}
.form-editor-data div.form-data table tbody tr td.form-data-view-entry,
.form-editor-data-entry div.form-data table tbody tr td.form-data-view-entry,
.form-editor-data div.form-data table.table-striped tbody tr td.form-data-view-entry,
.form-editor-data-entry div.form-data table.table-striped tbody tr td.form-data-view-entry {
  text-align: -webkit-right;
  cursor: pointer;
}
.form-editor-data div.form-data table tbody tr td.toggle-approval,
.form-editor-data-entry div.form-data table tbody tr td.toggle-approval,
.form-editor-data div.form-data table.table-striped tbody tr td.toggle-approval,
.form-editor-data-entry div.form-data table.table-striped tbody tr td.toggle-approval {
  cursor: pointer;
}
.form-editor-data div.form-data table tbody tr td.approval-undecided i.icon:before,
.form-editor-data-entry div.form-data table tbody tr td.approval-undecided i.icon:before,
.form-editor-data div.form-data table.table-striped tbody tr td.approval-undecided i.icon:before,
.form-editor-data-entry div.form-data table.table-striped tbody tr td.approval-undecided i.icon:before {
  color: #d9d9d9;
  content: "\e165";
  /* checkmark */
}
.form-editor-data div.form-data table tbody tr td.approval-undecided i.icon:hover:before,
.form-editor-data-entry div.form-data table tbody tr td.approval-undecided i.icon:hover:before,
.form-editor-data div.form-data table.table-striped tbody tr td.approval-undecided i.icon:hover:before,
.form-editor-data-entry div.form-data table.table-striped tbody tr td.approval-undecided i.icon:hover:before {
  color: #343434;
}
.form-editor-data div.form-data table tbody tr td.approval-approved i.icon:before,
.form-editor-data-entry div.form-data table tbody tr td.approval-approved i.icon:before,
.form-editor-data div.form-data table.table-striped tbody tr td.approval-approved i.icon:before,
.form-editor-data-entry div.form-data table.table-striped tbody tr td.approval-approved i.icon:before {
  color: #1cb973;
  content: "\e165";
  /* checkmark */
}
.form-editor-data div.form-data table tbody tr td.approval-approved i.icon:hover:before,
.form-editor-data-entry div.form-data table tbody tr td.approval-approved i.icon:hover:before,
.form-editor-data div.form-data table.table-striped tbody tr td.approval-approved i.icon:hover:before,
.form-editor-data-entry div.form-data table.table-striped tbody tr td.approval-approved i.icon:hover:before {
  color: #239864;
}
.form-editor-data div.form-data table tbody tr td i,
.form-editor-data-entry div.form-data table tbody tr td i,
.form-editor-data div.form-data table.table-striped tbody tr td i,
.form-editor-data-entry div.form-data table.table-striped tbody tr td i,
.form-editor-data div.form-data table tbody tr td i:hover,
.form-editor-data-entry div.form-data table tbody tr td i:hover,
.form-editor-data div.form-data table.table-striped tbody tr td i:hover,
.form-editor-data-entry div.form-data table.table-striped tbody tr td i:hover {
  display: inline-block !important;
}
.form-editor-data div.form-data table tbody tr:hover td.form-data-view-entry i,
.form-editor-data-entry div.form-data table tbody tr:hover td.form-data-view-entry i,
.form-editor-data div.form-data table.table-striped tbody tr:hover td.form-data-view-entry i,
.form-editor-data-entry div.form-data table.table-striped tbody tr:hover td.form-data-view-entry i {
  color: #343434;
}
.form-editor-data div.form-data table tbody tr.loading,
.form-editor-data-entry div.form-data table tbody tr.loading,
.form-editor-data div.form-data table.table-striped tbody tr.loading,
.form-editor-data-entry div.form-data table.table-striped tbody tr.loading {
  color: #d9d9d9;
}
.form-editor-data div.form-data table tbody tr.loading .toggle-approval i.icon:before,
.form-editor-data-entry div.form-data table tbody tr.loading .toggle-approval i.icon:before,
.form-editor-data div.form-data table.table-striped tbody tr.loading .toggle-approval i.icon:before,
.form-editor-data-entry div.form-data table.table-striped tbody tr.loading .toggle-approval i.icon:before {
  content: "\e153";
  /* hourglass */
}
.form-editor-data .downloadFile,
.form-editor-data-entry .downloadFile {
  white-space: nowrap;
  text-decoration: none;
}
.form-editor-data .downloadFile i,
.form-editor-data-entry .downloadFile i {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #d9d9d9;
}
.form-editor-data .downloadFile:hover i,
.form-editor-data-entry .downloadFile:hover i {
  color: #343434;
}
.form-editor-data .downloadFile:hover,
.form-editor-data-entry .downloadFile:hover,
.form-editor-data .downloadFile:focus,
.form-editor-data-entry .downloadFile:focus {
  text-decoration: none;
}
.form-editor-data div.form-data-tools,
.form-editor-data-entry div.form-data-tools {
  padding: 10px 0px;
}
.form-editor-data div.form-data-search,
.form-editor-data-entry div.form-data-search {
  border: 1px solid #dddddd;
  border-top: 0;
  line-height: 30px;
}
.form-editor-data div.form-data-search *,
.form-editor-data-entry div.form-data-search * {
  display: inline-block;
  vertical-align: middle;
}
.form-editor-data div.form-data-search i,
.form-editor-data-entry div.form-data-search i {
  padding-left: 6px;
}
.form-editor-data div.form-data-search input,
.form-editor-data-entry div.form-data-search input {
  width: 92%;
  border: 0;
}
.form-editor-config div.configuration-item {
  margin-bottom: 4px;
}
.form-editor-config div.configuration-item.configuration-info {
  color: #d9d9d9;
  cursor: default;
}
.form-editor-config div.configuration-item label {
  width: 70px;
  vertical-align: top;
  display: inline-block;
}
.form-editor-config div.configuration-item div.cell-configuration {
  margin-left: 50px;
  margin-bottom: 10px;
}
.form-editor-config div.configuration-item div.cell-configuration input {
  width: 130px;
}
.form-editor-config ul.row-layouts,
.form-editor-config ul.field-type-groups {
  list-style: none;
  margin: 0;
}
.form-editor-config ul.row-layouts div.collapsible-block,
.form-editor-config ul.field-type-groups div.collapsible-block {
  border: 1px solid #dddddd;
  padding: 10px;
}
.form-editor-config ul.row-layouts div.collapsible-block div.collapsible-block-header,
.form-editor-config ul.field-type-groups div.collapsible-block div.collapsible-block-header {
  cursor: pointer;
}
.form-editor-config ul.row-layouts div.collapsible-block div.collapsible-block-header i,
.form-editor-config ul.field-type-groups div.collapsible-block div.collapsible-block-header i {
  margin-left: 0;
  display: inline-block;
}
.form-editor-config ul.row-layouts div.collapsible-block div.collapsible-block-header p,
.form-editor-config ul.field-type-groups div.collapsible-block div.collapsible-block-header p {
  margin: 0;
  font-weight: bold;
  display: inline-block;
}
.form-editor-config ul.row-layouts div.collapsible-block div.collapsible-block-header span.collapsible-block-tools,
.form-editor-config ul.field-type-groups div.collapsible-block div.collapsible-block-header span.collapsible-block-tools {
  float: right;
}
.form-editor-config ul.row-layouts div.collapsible-block div.collapsible-block-content,
.form-editor-config ul.field-type-groups div.collapsible-block div.collapsible-block-content {
  margin-top: 10px;
}
.form-editor-config ul.row-layouts li,
.form-editor-config ul.field-type-groups li {
  margin-bottom: 10px;
}
.form-editor-config ul.tab-order {
  list-style: none;
  margin: 0;
}
.form-editor-config ul.tab-order li {
  margin-bottom: 10px;
  cursor: default;
}
.form-editor-config ul.tab-order li .tab-name {
  display: inline-block;
  min-width: 150px;
}
.form-editor-config ul.field-type-groups .assigned-field-types-container {
  cursor: default;
  display: inline-block;
}
.form-editor-config i {
  margin-left: 10px;
}
.form-editor-config i.row-icon {
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 4px;
  width: 20px;
  height: 30px;
  display: inline-block;
}
.form-editor-config .ng-invalid {
  border: 1px solid #b94a48;
}
.form-editor-config .ng-invalid div.configuration-info {
  color: #b94a48;
}
.form-editor-config div.web-service-configuration {
  margin-bottom: 4px;
}
.form-editor-config div.web-service-configuration label {
  display: block;
  margin-bottom: 0;
}
.form-editor-config div.web-service-configuration small {
  display: block;
  text-transform: none;
  font-size: 11px;
  color: #d9d9d9;
}
.form-editor-data-entry .entry-field {
  font-weight: bold;
  display: block;
}
.form-editor-data-entry .entry-value {
  display: block;
  margin-bottom: 10px;
}
.stats-modal {
  margin-left: -500px !important;
}
.stats-modal.fade.in {
  width: 500px !important;
}
.stats-modal .stats-loading {
  vertical-align: middle;
  text-align: center;
  /* NOTE: this needs to be the same value as the container height (inline CSS in data.html) */
  line-height: 400px;
}
