
/*
    Type Summary Styles
*/
.mcfly__summary-dashboard {
    position: relative;
}

.mcfly__type-summary {
    position: relative;
    display: inline-block;
    width: 50%;
    max-width: 320px;
    padding: 0 10px 20px;
    box-sizing: border-box;
}

@media (min-width: 800px) {
    .mcfly__type-summary {
        width: 33%;
    }
}

@media (min-width: 1100px) {
    .mcfly__type-summary {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .mcfly__type-summary {
        width: 33%;
    }
}

.mcfly__type-summary-inr {
    position: relative;
    display: block;
    background-color: #f8f8f8;
    padding: 15px 45px 15px 90px;
    border: 2px solid #f8f8f8;
}

    .mcfly__type-summary-inr:hover {
        border-color: #2e8aea;
        text-decoration: none !important;
    }

    .mcfly__type-summary-inr.readonly:hover {
        border-color: #f8f8f8;
    }

.mcfly__type-summary__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 50px;
    line-height: 50px;
    width: 80px;
    margin-top: -25px;
    color: #2e8aea;
}

.mcfly__type-summary__record-count {
    margin: 0;
    font-size: 20px;
    display: inline-block;
}

.mcfly__type-summary__type-name {
    margin: 0;
    font-size: 12px;
    display: inline-block;
}

.mcfly__type-summary-inr:hover .mcfly__type-summary__toolbar {
    display: block;
}

.mcfly__type-summary__toolbar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #2e8aea;
    color: white;
}

    .mcfly__type-summary__toolbar a {
        display: block;
        font-size: 18px;
        width: 28px;
        line-height: 24px;
        text-align: center;
        color: white;
        text-decoration: none;
        margin-right: -2px;
    }

        .mcfly__type-summary__toolbar a:hover {
            text-decoration: none;
        }


/* Form Designer */

.mcfly-field-label-editor input {
    border:0px;
    padding:0;
}