<div ng-controller="MCFly.AddFieldController">

    Caption: <input ng-model="newFieldName" type="text" ng-change="getSafeAlias(newFieldName)" /> <br/>
    Alias: <input ng-model="newFieldAlias" type="text" /> <br />
    Type: <select ng-model="newFieldTypeName"> 
        <option ng-repeat="fldType in fieldtypes" value{{fldType.Name}}>{{fldType.Name}}</option>

    </select><br />
    <div ng-show="supportsPlaceholder(newFieldTypeName)">Placeholder: <input ng-model="newFieldPlaceHolder" type="text" /></div>
    Required: <input type="checkbox" ng-model="newFieldRequired" /><br />

    
                                   <!--<div ng-show="supportsOptions(newFieldTypeNamee)">
                                       <input type="text" ng-model="field.$newOptionValue" /><span class="btn" ng-click="addOption(field)">Add</span>
                                       <ul>
                                           <li ng-repeat="option in field.options">{{option.value}}</li>
                                       </ul>
                                   </div>-->
                                
    <br />

    <span class="btn" ng-click="addField(form,newFieldName,newFieldAlias,newFieldTypeName,newFieldPlaceHolder,newFieldRequired)">Add</span>

</div>