<div ng-controller="MCFly.AddFieldController" class="umb-overlay umb-overlay-right">
    <form name="dialogForm" ng-submit="addField()">

        <umb-panel>
            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title">Add Field</h4>
                <p class="umb-overlay__subtitle"></p>
            </div>

            <div class="umb-panel-body  umb-scrollable with-footer">

                <umb-pane>
                    <umb-control-group label="Caption">
                        <input type="text" ng-model="newField.caption" ng-change="getSafeAlias(newField.caption)" required />
                    </umb-control-group>
                    <umb-control-group label="Alias">
                        <input type="text" ng-model="newField.alias" required  />
                    </umb-control-group>
                    <umb-control-group label="Type">
                        <select ng-model="newField.fieldTypeName" required ng-change="checkSupports(newField.fieldTypeName);" >
                            <option ng-repeat="fldType in fieldtypes" value{{fldType.Name}}>{{fldType.Name}}</option>

                        </select>
                    </umb-control-group>
                    <umb-control-group label="Placeholder" ng-if="currentSupportsPlaceholder">
                        <input ng-model="newField.placeHolder" type="text" />
                    </umb-control-group>

                    <umb-control-group ng-if="currentSupportsOptions">
                        <input type="text" ng-model="newField.$newOptionValue" /> <span class="btn" ng-click="addOption(newField)">Add</span>
                        <ul>
                            <li ng-repeat="option in newField.options">{{option.value}} <i class="icon-trash" ng-click="removeOption(option)"></i></li>
                        </ul>
                    </umb-control-group>


                    <umb-control-group label="Required">
                        <input type="checkbox" ng-model="newField.required" />
                    </umb-control-group>

                </umb-pane>
            </div>
            <div class="umb-panel-footer">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a class="btn btn-link" ng-click="close()">
                        <localize key="cancel" />
                    </a>
                    <button type="submit" class="btn btn-primary" ng-disabled="!dialogForm.$valid">
                        Add
                    </button>
                </div>
            </div>
        </umb-panel>




    
      



</form>


</div>